{% extends 'base.html' %}
{% block content %}
    <div id="content-container" class="container p-none">
        <div class="side-p">
            <h3>Удаление ссылки</h3>
            <p>Вы собираетесь удалить {{ object }}</p>
            <form action="" method="post">
                {% csrf_token %}
                <input class="btn btn-link"
                       type="button"
                       value="Отмена"
                       onclick="window.history.go(-1);"/>
                <input class="btn btn-danger" type="submit" value="Подтвердить"/>
            </form>
        </div>
    </div>
{% endblock content %}
